/*Body*/
body {
    margin: 0;
    padding: 0;
}

/*Welcome Content*/
#content {
    margin-left: 30%;
    height: 100vh;
}
#content::after {
    content: "";
    display: table;
    clear: both;
}
#welcome_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222e35;
    flex-direction: column;
}
#welcome_content img {
    width: 400px;
    margin-bottom: 30px;
}
#span1 {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}
#span2 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 40px;
}
#welcome_content button {
    width: 120px;
    height: 40px;
    background-color: #00a884;
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 20px;
}

/*Default Scroll bar*/
::-webkit-scrollbar {
    width: 7px;
    background-color: #0b141a;
}
::-webkit-scrollbar-thumb {
    background-color: #3c4348;
}

/*Sidebar and Headline*/
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100vh;
    background-color: #111b21;
    border-right: 1px solid #384c58;
}
.headline {
    position: relative;
    top: 0;
    left: 0;
    height: 10%;
    background-color: #202c33;
}
#headline_sidebar {
    width: 100%;
}
#headline_content {
    position: fixed;
    margin-left: 30%;
    width: 70%;
    border-left: 1px solid #384c58;
}
#msg_content {
    padding-top: 60px;
}

/*Contacts*/
.contacts {
    height: 11%;
}
hr {
    width: 80%;
    margin-left: 70px;
    border-color: #384c58;
}
#contacts_section {
    height: calc(100vh - 10%);
    overflow-y: scroll;
}
#contacts_section::-webkit-scrollbar {
    width: 7px;
    background-color: #111b21;
}
#contacts_section::-webkit-scrollbar-thumb {
    background-color: #3c4348;
}
.profile_pic_container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
.profile_pic_headline {
    width: 60%;
    height: 60%;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.profile_pic_contacts {
    width: 75%;
    height: 75%;
    text-align: center;
    border-radius: 50%;
}
#user_img {
    width: 18%;
}
#contacts_list_img {
    width: 18%;
}
#contacts_header_img {
    width: 8%;
}
.name_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
}
.name_contacts {
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.last_msg {
    color: #8696a0;
}
