/*Body*/
body {
    margin: 0;
    padding: 0;
}

/*Scroll bar*/
::-webkit-scrollbar {
    width: 7px;
    background-color: #0b141a;
}
::-webkit-scrollbar-thumb {
    background-color: #3c4348;
}

/*Sidebar and Headline*/
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100vh;
    background-color: #111b21;
    border-right: 1px solid;
}
.headline {
    position: relative;
    top: 0;
    left: 0;
    height: 10%;
    background-color: #202c33;
    border-bottom: 1px solid;
}
#headline_sidebar {
    width: 100%;
}
#headline_content {
    position: fixed;
    margin-left: 30%;
    width: 70%;
    border-left: 1px solid;
}
#msg_content {
    padding-top: 7%;
}

/*Contacts*/
.contacts {
    height: 10%;
    border-bottom: 1px solid;
}
.profile_pic_container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
.profile_pic_headline {
    width: 65%;
    height: 65%;
    text-align: center;
    border-radius: 50%;
}
.profile_pic_contacts {
    width: 75%;
    height: 75%;
    text-align: center;
    border-radius: 50%;
}
.ppc_contact {
    width: 18%;
}
.ppc_content {
    width: 8%;
}
.name_container {
    height: 100%;
    display: flex;
    align-items: center;
    float: left;
}
.name_contacts {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

/*Popup Windows*/
.popup_icon {
    position: fixed;
    top: 25px;
    color: white;
}
.popup_icon:hover {
    cursor: pointer;
}
.popup_content {
    width: 200px;
    height: 200px;
    color: white;
    background-color: #233138;
    position: fixed;
    top: 25px;
    display: none;
}
.popup_list {
    padding-left: 20px;
    font-family: 'EB Garamond', serif;
}
.popup_list:hover  {
    background-color: #111b21;
}

/*Popup Window Headline*/
#popup_i_headline {
    left: 380px;
}
#popup_con_headline {
    left: 180px;
}

/*Popup Window Contacts*/
#popup_i_contacts {
    left: 1340px;
}
#popup_con_contacts {
    left: 1140px;
}

/*Content*/
#content {
    margin-left: 30%;
    min-height: 100vh;
    background-color: #222e35;
}
#content::after {
    content: "";
    display: table;
    clear: both;
}
.name_content {
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.enterMsg {
    position: fixed;
    top: 625px;
    left: 420px;
    width: 65%;
    height: 5%;
    background-color: #2a3942;
    border-radius: 8px;
    padding-left: 10px;
}
.msg_send_btn {
    position: fixed;
    top: 625px;
    left: 1320px;
    width: 35px;
    height: 5%;
    background-color: #2a3942;
}